<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand">Navbar</a> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
    </ul>
    <a class="nav-link active" routerLink="user-list"  href="#">UserList</a>
    <a class="nav-link active" routerLink="user-add"  href="#">UseAdd</a>
    <a class="nav-link active" routerLink="user-update"  href="#">UseUpdate</a>
    <!-- <a class="nav-link active" routerLink="user-update"  href="#">UserUpdate</a> -->

    <form class="d-flex">
      <a routerLink="login" style="border: 1px solid black; margin: 5px;">Login</a>
      <a routerLink="register" style="border: 1px solid black; margin: 5px;">Register</a>
    </form>
  </div>
</nav>

<!-- <app-register></app-register> -->
<div class="container">
  <router-outlet></router-outlet>
</div>